@page "/addAdult"
@attribute [Authorize]
@using Family.Models
@using Family.Data
@using Family.Persistence
@using global::Models

@inject IAdultService _adultData
@inject NavigationManager _navigationManager
@inject FileContext _fileContext
<section class="addAdults">
    <h3>Add Adult</h3>
    <form class="form">

        <label class="label" for="fName">First name</label>
        <input class="input" type="text" id="fName" name="fName" placeholder="First name"
               @bind-value="@_fName">


        <label class="label" for="lName">Last name</label>
        <input class="input" type="text" id="lName" name="lName" placeholder="Last name"
               @bind-value="@_lName">


        <label class="label" for="age">Age</label>
        <input class="input" type="number" id="age" name="age" placeholder="Age" @bind-value="@_age">


        <label class="label" for="sex">Sex</label>
        <select class="input" id="sex" @bind="@_sex">
            <option value="">
                Select gender
            </option>
            <option value="M">
                M
            </option>
            <option value="F">
                F
            </option>
            <option value="Other">
                Other
            </option>

        </select>

        <label class="label" for="hair-color">Hair color</label>
        <select class="input" id="hair-color" name="hair-color" @bind="@_hairColor">
            <option value="">
                Select color
            </option>
            <option value="Brown">
                Brown
            </option>
            <option value="Black">
                Black
            </option>
            <option value="Blond">
                Blond
            </option>
            <option value="Red">
                Red
            </option>
            <option value="White">
                White
            </option>
            <option value="Other">
                Other
            </option>

        </select>

        <label class="label" for="eye-color">Eye color</label>
        <select class="input" id="eye-color" name="eye-color" @bind="@_eyeColor">
            <option value="">
                Select color
            </option>
            <option value="Brown">
                Brown
            </option>
            <option value="Blue">
                Blue
            </option>
            <option value="Amber">
                Amber
            </option>
            <option value="Green">
                Green
            </option>
            <option value="Hazel">
                Hazel
            </option>
            <option value="Gray">
                Gray
            </option>
            <option value="Other">
                Other
            </option>

        </select>

        <label class="label" for="height">Height</label>
        <input class="input" type="text" id="height" name="height" placeholder="Height"
               @bind-value="@_height">

        <label class="label" for="weight">Weight</label>
        <input class="input" type="text" id="weight" name="weight" placeholder="Weight"
               @bind-value="@_weight">


        <label class="label" for="job">Job</label>
        <input class="input" type="text" id="job" name="job" placeholder="Job" @bind-value="@_job">

        <label class="label" for="salary">Salary</label>
        <input class="input" type="text" id="salary" name="salary" placeholder="Salary"
               @bind-value="@_salary">

        <button class="submit__button" @onclick="Submit" @onclick:preventDefault="true">Submit</button>
    </form>

</section>

@code{
    private string _fName;
    private string _lName;
    private string _age;
    private string _hairColor;
    private string _eyeColor;
    private string _weight;
    private string _height;
    private string _sex;
    private string _job;
    private string _salary;

    public void Submit()
    {
        var adult = new Adult();
        adult.FirstName = _fName;
        adult.LastName = _lName;
        adult.HairColor = _hairColor;
        adult.EyeColor = _eyeColor;
        adult.Age = Int32.Parse(_age);
        adult.Weight = float.Parse(_weight);
        adult.Height = Int32.Parse(_height);
        adult.Sex = _sex;
        var job = new Job();
        job.JobTitle = _job;
        job.Salary = Int32.Parse(_salary);
        adult.JobTitle = job;

        var id = _fileContext.Adults.Last<Adult>().Id;
        adult.Id = id + 1;

        _adultData.AddAdult(adult);

        _navigationManager.NavigateTo("/adults");
    }




}